# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build (НЕ сами android/ и ios!)
android/.gradle/
android/build/
android/app/build/

ios/build/

# APK / AAB
*.apk
*.aab

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# keystores / secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# misc
.kotlin/
*.orig.*

# examples
app-example